<head>
	<link rel="stylesheet" href="/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/CSS/main.css" />
	<script src="/JS/main.js"></script>
</head>

<body>
	<div class="container-fluid">
		<%- include('navbar/navbar') %>
			<p class="page-title">Album</p>
			<div class="artist-container">
				<div>
					<img src="images/holding.png" height="200" style="margin-right:20px">
				</div>
				<div>
					<h1>Hybrid Theory</h1>
					<div> Artist: Linkin Park</div>
					<div>Genre: Alternative Rock</div>
				</div>
			</div>
			<div class="song-container">
				<div class="song-heading">
					<div class="col-4">Song</div>
					<div class="col-4">Artist</div>
					<div class="col-2">Album</div>
					<div class="col-2">Length</div>
				</div>
				<div class="song">
					<div class="col-4">Papercut</div>
					<div class="col-4">Linkin Park</div>
					<div class="col-2">Hybrid Theory</div>
					<div class="col-2">3:04</div>
				</div>
			</div>
	</div>
</body>
