<html>

<head>
	<link rel="stylesheet" href="bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="CSS/main.css" />
	<script src="JS/main.js"></script>
</head>

<body>
	<div class="container-fluid">
		<%- include('navbar/navbar') %>
			<p class="page-title">Artist</p>
			<div class="artist-container">
				<div>
					<img src="images/lp.jpg" height="200" style="margin-right:20px">
				</div>
				<div>
					<h1>
						<%= artists.name%>
					</h1>
					<div> Albums: 7</div>
					<div>Genre:
						<%= artists.genre%>
					</div>
				</div>
			</div>
			<div class="flex-container">
				<div class="box">
					<img src="images/lp-ht-2000.jpg" height="200" width="200">
					<div id="artist">Hybrid Theory</div>
					<div>Year: 2000</div>
					<div>Songs: 12</div>
				</div>
			</div>
	</div>
</body>

</html>
