<html>

<head>
	<link rel="stylesheet" href="/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/CSS/main.css" />
	<script src="/JS/main.js"></script>
</head>

<body>
	<div class="container-fluid">
		<%- include('navbar/navbar') %>
			<p class="page-title">Artist</p>
			<div class="artist-container">
				<div>
					<img src="/images/holding.png" height="200" style="margin-right:20px">
				</div>
				<div>
					<h1>
						<%= artists.name%>
					</h1>
					<div> Albums: 7</div>
					<div>Genre:
						<%= artists.genre%>
					</div>
				</div>
			</div>
			<div class="flex-container">
				<div class="box">
					<img src="/images/holding.png" height="200" width="200">
					<div>Year: </div>
					<div>Songs: </div>
				</div>
			</div>
	</div>
</body>

</html>
