<html>

<head>
	<link rel="stylesheet" href="bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="CSS/main.css" />
	<script src="JS/main.js"></script>
	<title>HOME :: SONGS</title>
</head>

<body>

	<%- include('navbar/navbar') %>
		<p class="page-title">Songs</p>

		<%- include('songs/list_item')%>

</body>

</html>
