<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<img src="/images/cow.png" height="100">
	<a class="navbar-brand" href="/">Moo-sique Player</a>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto mt-2 mt-md-0">
			<li class="nav-item">
				<a class="nav-link" href="/">Artists </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/albums">Albums</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/songs">Songs</a>
			</li>
		</ul>
	</div>
</nav>
